
Genomes/GCF_009914755.1_T2T-CHM13v2.0_genomic.fna
Genomes/GCF_000001405.40_GRCh38.p14_genomic.gff
Genomes/NC_000001.11.gff
Genomes/GCF_000001405.40_GRCh38.p14_genomic.fna
Genomes/T2T.gff
Genomes/Human_Ref
Genomes/Human_Ref.fna
Genomes/T2T.fna
Genomes/.Human_Ref.gff.swp
Genomes/Human_Ref.gff
